@font-face {
    font-family: 'Prime Regular';
    src: url('/Prime\ Regular.otf');
}

html {
    height: 100%;
}

body {
    margin: 0;
    background-color: #d9e0e969;
    font-family: 'Roboto', sans-serif;
}

::-moz-selection {
    background: #0277bd;
    color: white;
}

::selection {
    background: #0277bd;
    color: white;
}

.toggle {
    display: none;
}

.top-line {
    height: 0.5rem;
    background-color: #025483;
}

.navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #fefefe;
    padding-left: 6rem;
    padding-right: 6rem;
    color: #353535;
    -webkit-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.3);
}

.nav-items {
    margin: auto;
    margin-right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.nav-item {
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 0.2rem;
}

a {
    text-decoration: none;
}

.navbar a {
    text-transform: uppercase;
    text-decoration: none;
    color: #353535;
}

@media only screen and (max-width: 1134px) {

    .nav-items,
    .navbar {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-left: 2rem;
        padding-right: 0.6rem;
    }

    .nav-items {
        margin-left: 0;
        display: none;
        padding-bottom: 1rem;
    }

    .nav-item {
        padding-left: 0;
        -ms-flex-item-align: end;
        align-self: flex-end;
        font-size: 1.3rem;
    }

    .nav-item {
        padding-top: 0.4rem;
    }

    .toggle {
        padding-top: 1.5rem;
        padding-right: 0.6rem;
        -ms-flex-item-align: end;
        align-self: flex-end;
        display: initial;
        position: absolute;
        cursor: pointer;
    }

    .nav-res {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}

.logo {
    -ms-flex-line-pack: center;
    align-content: center;
    padding: 1rem;
    cursor: pointer;
}

.underline-anim {
    display: inline-block;
    position: relative;
    color: #0277bd;
}

.underline-anim::after {
    content: '';
    position: absolute;
    width: 100%;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0277bd;
    -webkit-transform-origin: bottom right;
    transform-origin: bottom right;
    -webkit-transition: -webkit-transform 0.35s ease-out;
    transition: -webkit-transform 0.35s ease-out;
    transition: transform 0.35s ease-out;
    transition: transform 0.35s ease-out, -webkit-transform 0.35s ease-out;
}

.underline-anim:hover::after {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: bottom left;
    transform-origin: bottom left;
}

.intro {
    /* margin-top: 4rem; */
    height: 20rem;
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(1, 70, 113, 0.55)), to(rgba(0, 0, 0, 0.7))), url('img/untitled33.jpg');
    background: linear-gradient(180deg, rgba(1, 70, 113, 0.55), rgba(0, 0, 0, 0.7)), url('img/untitled33.jpg');
    background-size: cover;
    background-position: center;
    -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
}

.acervatio {
    color: white;
    padding-top: 1.5rem;
    padding-left: 2rem;
    font-size: 2.4rem;
    font-family: 'Prime', sans-serif;
}

.acervatio-footer {
    color: rgba(255, 255, 255, 0.815);
    padding-top: 1rem;
    padding-left: 2rem;
    font-size: 1.5rem;
    font-family: 'Prime', sans-serif;
}

@media screen and (max-width: 1134px) {
    .intro {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .acervatio {
        padding-left: 0;
        font-size: 1.8rem;
    }
}

.intro-text {
    color: white;
    padding-top: 2rem;
    font-size: 1.4rem;
}

.title {
    font-family: "Roboto", sans-serif;
    font-size: 2.4rem;
    text-transform: uppercase;
    padding-left: 3rem;
    font-weight: 900;
    color: #0e264e;
}

.title-form {
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
    /* font-style: italic; */
    padding-top: 1rem;
    padding-bottom: 0.6rem;
    font-weight: 900;
    color: #0e264e;
}

.subtitle-form {
    font-size: 2rem;
    font-weight: 400;
    padding-bottom: 1.4rem;
    color: #0e264e;
}

.light {
    color: white;
}

.divider {
    height: 4px;
    border-radius: 4px;
    width: 0%;
    display: none;
    margin: 3rem;
    margin-top: 1rem;
    background-color: black;
}

.subtitle {
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 1.4rem;
    color: #0e264e;
}

.section {
    padding: 2rem;
    padding-left: 6rem;
    padding-right: 6rem;
    
}

.container {
    margin-top: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; 
}

.item {
    text-align: left;
    width: 29%;
    box-sizing: border-box;
    padding: 2rem;
    margin: 1rem;
}

.content {
    color: rgba(0, 0, 0, 0.8);
    line-height: 1.5;
    font-size: 1.15rem;
}

.text {
    padding: 0 3rem 0 3rem;
    color: rgba(0, 0, 0, 0.8);
    line-height: 1.5;
    font-size: 1.15rem;
}

@media screen and (max-width: 1134px) {
    .item {
        width: 100%;
    }

    .section {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}

.donate {
    /* background: linear-gradient(-180deg,#d9e0e969 0%, #c9e6ff 100%);
    background-color: #c9e6ff; */
background-image: linear-gradient(-180deg,#eef0f3 0%, #c9e6ffe0 100%) ,url("data:image/svg+xml,%3Csvg width='100' height='20' viewBox='0 0 100 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.184 20c.357-.13.72-.264 1.088-.402l1.768-.661C33.64 15.347 39.647 14 50 14c10.271 0 15.362 1.222 24.629 4.928.955.383 1.869.74 2.75 1.072h6.225c-2.51-.73-5.139-1.691-8.233-2.928C65.888 13.278 60.562 12 50 12c-10.626 0-16.855 1.397-26.66 5.063l-1.767.662c-2.475.923-4.66 1.674-6.724 2.275h6.335zm0-20C13.258 2.892 8.077 4 0 4V2c5.744 0 9.951-.574 14.85-2h6.334zM77.38 0C85.239 2.966 90.502 4 100 4V2c-6.842 0-11.386-.542-16.396-2h-6.225zM0 14c8.44 0 13.718-1.21 22.272-4.402l1.768-.661C33.64 5.347 39.647 4 50 4c10.271 0 15.362 1.222 24.629 4.928C84.112 12.722 89.438 14 100 14v-2c-10.271 0-15.362-1.222-24.629-4.928C65.888 3.278 60.562 2 50 2 39.374 2 33.145 3.397 23.34 7.063l-1.767.662C13.223 10.84 8.163 12 0 12v2z' fill='%23aeb0b3' fill-opacity='1' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.about {
    background: linear-gradient(-180deg, #FFFFFF 0%, #eef0f3 100%);
}

.forms {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100vh;
    padding: 0 14rem 0 14rem;
}

@media screen and (max-width: 1134px) {
    .forms {
        padding: 0 2.8rem 0 2.8rem;
        text-align: left;
    }
}

.social {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1.4rem;
}

@media screen and (max-width: 1134px) {
    .social {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: left;
        -ms-flex-align: left;
        align-items: left;
    }
}

.social a {
    text-decoration: none;
    color: white;
    margin: auto;
}

.icon {
    /* vertical-align: middle; */
    width: 2rem;
    padding: 0 1rem 0 1rem;
    height: 2rem;
    color: #0e264e;
}

.icon-soc {
    /* vertical-align: middle; */
    
    width: 2rem;
    margin-top: 1rem;
    padding: 0rem 0.3rem 0 0.3rem;
    height: 1.3rem;
    color: rgba(255, 255, 255, 0.815);
}

.icon-big {
    color: #0e264e;
    vertical-align: middle;
    width: 5rem;
    height: 5rem;
    padding-bottom: 1.4rem;
    padding-left: 0.2rem;
}

.footer {
    /* text-align: center;
    padding-right: 3.5rem;
    padding-left: 3.5rem; */
    color: white;
    text-align: right;
    /* position: absolute; */
    /* clear: both;
    bottom: 0;
    left: 0;
    right: 0; */
    /* flex-shrink: 0; */
    background-color: #171b24;
}

/* @media screen and (max-width: 1134px) {
    .footer {
        text-align: left;
    }
} */

.round-button {
    /* font-family: 'Fira Sans Condensed', sans-serif; */
    width: 10rem;
    padding: 1.2rem;
    margin: 0.4rem;
    border-radius: 6px;
    -webkit-box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.3);
}


input[type=text],
select,
textarea {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 0.4rem;
    margin-bottom: 0.6rem;
    resize: none;
}

input[type=submit] {
    font-family: 'Roboto', sans-serif;
    background-color: #0277bd;
    color: white;
    padding: 0.8rem;
    margin-left: 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #025483;
}